* { box-sizing: border-box; }

body {
  margin:0;
  background-color:#f7f7f7;
  font-family:Helvetica, Arial;
}

header {

  position:absolute;
  left:50px;
  top:0;
  z-index:9999;
  
  .logo {
    height:100px;
  }

}